{
 :paths ["src" "classes"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.2"}}

 :aliases
 {
  :bench {:exec-fn bench-destructure.core/bench}
 }

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
}
